*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

h1
{
   color: white;
   font-size: 2rem;
   text-align: center;
   margin: 10% 0;
   animation: h1;
   -webkit-animation: h1;
   animation-duration: 3s;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}
h1:hover{
    color: #f1f1f1;
    font-size: 8rem;
    cursor: pointer;
    position: absolute;
}
body
{
    background-color: #f1f1f1;
    background-color: #27146e;
}

